#root {
  width: 300px;
  z-index: 9999;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
